html {
  font-size: 10px;
}

body {
  font-size: 2rem;
}

body > article,
header > *,
footer > * {
  width: 90%;
  max-width: 129.6rem;  /* 90% of 1440px */
  margin: 0 auto;
}

header,
footer {
  padding: 2rem 0;
}

/*header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}*/

header > h1 {
  font-size: 5rem;
}

ul.site-nav {
  text-align: right;
}

ul.site-nav li {
  display: inline;
}

body > article {
  display: none;
}

body[data-page="home"] #home,
body[data-page="basics"] #basics,
body[data-page="advance"] #advance,
body[data-page="effects"] #effects,
body[data-page="getting-started"] #getting-started {
  display: block;
}

article > h1 {
  font-size: 3rem;
}

footer {
  text-align: center;
}

#elem-a {
  /*border: black solid .1rem;*/
  background: blue;
  width: 10rem;
  height: 10rem;
  border-bottom: black 5px solid;
}

#elem-b {
  background: red;
  width: 10rem;
  height: 10rem;
  /*transform: scale(2) rotate(45deg);*/
  border-bottom: black 5px solid;
}

